.container {
    height: 80%;
    width: 80%;
    background-color: rgba(255,255,255,0.10);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.button-container {
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Blippo';
    text-align: center;
    margin-bottom: 1%;
}


.form-block {
    text-align: center;
    margin-bottom: 1%;
}

.form-group {
    text-align: center;
}

.form-control {
    width: 30%;
    padding: 1% 1%;
    margin: auto;
    border-radius: 3%;
    font-size: 1.1vw;
    font-family: 'Blippo';
}

.bottom-button {
    width: 17%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: 'Blippo';
    font-size: 1.2vw;
    border: black;
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
}

.bottom-button:hover {
    color: black;
    background-color: rgb(130, 130, 130);
}