<div class="container">
  <h1>Open New Auction</h1>
  <form (ngSubmit)="processForm(newAuctionForm)" #newAuctionForm="ngForm">
    
    <div class="form-block">
      <input class="form-control" placeholder="Auction Name" [(ngModel)]="newAuction.title" type="text" id="newAuction-title" name="newAuction-title" #name="ngModel" required>
    </div>
  
    <div class="form-block">
      <input class="form-control" placeholder="Buyout Price" [(ngModel)]="newAuction.buyOut" type="text" id="newAuction-buyOut" name="newAuction-buyOut" #name="ngModel" required>
    </div>
  
    <div class="form-block">
      <input class="form-control" placeholder="Starting Bid" [(ngModel)]="newAuction.startingBid" type="text" id="newAuction-startingBid" name="newAuction-startingBid" #name="ngModel" required>
    </div>
  
    <!-- "2022-12-10T13:45:00.0Z" -->
    <div class="form-block">
      <input class="form-control" placeholder="Starting Date" [(ngModel)]="newAuction.startingDate" type="text" id="newAuction-startingDate" name="newAuction-startingDate" #name="ngModel" required>
    </div>
  
    <!-- "2022-12-10T13:45:00.0Z" -->
    <div class="form-block">
      <input class="form-control" placeholder="Expiration Date" [(ngModel)]="newAuction.expiration" type="text" id="newAuction-expiration" name="newAuction-expiration" #name="ngModel" required>
    </div>

    <div class="form-block">
      <input class="form-control" placeholder="SCP ID" [(ngModel)]="newAuction.scpName" type="text" id="newAuction-scpName" name="newAuction-scpName" #name="ngModel" required>
    </div>

    <div class="form-group">
      <div *ngIf="displayFormSubmitError" style="color: red">
        Invalid Auction Form
      </div>
    </div>
    <div class="button-container">
      <input type="submit" value="Open Auction" class="bottom-button">
      <button type="button" class="bottom-button" routerLink="/admin/view-auctions">Back to Auction List</button>
    </div>
  </form>
</div>
