<div class="container">
    <h1>Active Auctions</h1>
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Auction Name</th>
                    <th scope="col">Buyout</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let auction of auctions">
                    <td>{{auction.title}}</td>
                    <td>{{auction.buyoutBid}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button routerLink="/admin">Back to Main Menu</button>
    <button routerLink="/admin/view-auctions/newAuction">Open New Auction</button>
</div>
