<div class="view-users-menu">
    <div class="container">
        <h1>System Users</h1>
    </div>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Alias</th>
                    <th>Account Active</th>
                </tr>  
            </thead>
    
            <tbody>
                <tr *ngFor="let user of users" (click)="goToUsername(user.username)">
                    <td>{{user.username}}</td>
                    <td>{{user.codename}}</td>
                    <td>{{user.isActive}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <button class="btn btn-light" routerLink="/admin">Back to Main Menu</button>
    </div>
</div>


