h1 {
    color: white;
    font-family: 'Blippo'; 
    text-align: center;
    font-size: 3vw;
    margin-top: auto;
}

img {
    width: 20%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.login {
    text-align: center;
}     

.button-container {
    text-align: center;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 1% 1%;
    margin: auto;
    border-radius: 2%;
    color: white;
    background-color: rgba(255,255,255,0.07);
    box-sizing: border-box;
    font-size: 1vw;
    font-family: 'Blippo';
}

::placeholder{
    color:antiquewhite;
    font-family: 'Blippo'; 
    font-size: 1vw;
}
form {
    height: 80%;
    width: 80%;
    background-color: rgba(255,255,255,0.10);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}

input[type=submit]{
    width: 7%;
    margin-left: -15%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Blippo';
    font-size: 1vw;
    border: black;
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(130, 130, 130);
}

button {
    width: 7%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-family: 'Blippo';
    font-size: 1vw;
    border: black;
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
}

button:hover {
    color: white;
    background-color: rgb(130, 130, 130);
}
