
  <div class="default-user-menu">
    <h1>Customer Menu</h1>
    <div class="img-container">
        <img src="https://cdn.discordapp.com/attachments/975764660311711806/988898713575493662/mcd.png">
    </div>
    <div class ='card'>
        <div class="list-group list-group-flush">
            <div class="row">
            <div class="button-group btn-group-lg" role="group">
               
                    <button type="button" class="btn btn-dark mr-1">Add Funds</button>
                    <button type="button" class="btn btn-dark mr-1" routerLink="/default-user/auctions">Browse Auctions</button>
                </div>
            </div>
          
        </div>
        <div class="list-group list-group-flush">
            <div class="row">
            <div class="button-group btn-group-lg" role="group">
                

                    <button type="button" class="btn btn-dark mr-1">View Bidding History</button>
                    <br>
                    <button type="button" class="btn btn-dark mr-1" (click)="goToUserDetails(username)">View Account Details</button>
                </div>
            </div>
          
        </div>


    </div>

    
</div>
