<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

<div class="admin-menu">
    <h1>Customer Menu</h1>
    <div class="img-container">
        <img src="https://cdn.discordapp.com/attachments/975764660311711806/988898713575493662/mcd.png">
    </div>
    <div class ='card'>
        <div class="list-group list-group-flush">
            <div class="row">
            <div class="button-group btn-group-lg" role="group">
               
                    <button type="button" class="btn btn-dark mr-1">Add Funds</button>
                    <button type="button" class="btn btn-dark mr-1">Browse Auction</button>
                </div>
            </div>
          
        </div>

        <div class="list-group list-group-flush">
            <div class="row">
            <div class="button-group btn-group-lg" role="group">
                

                    <button type="button" class="btn btn-dark mr-1">View Bidding History</button>
                    <button type="button" class="btn btn-dark mr-1">View Account Details</button>
                </div>
            </div>
          
        </div>

        <div class="list-group list-group-flush">
            <div class="row">
            <div class="button-group btn-group-md" role="group">
                    <button type="button" class="btn btn-dark mr-1">Home</button>
                    <button type="button" class="btn btn-dark mr-1">Signout</button>
                </div>
            </div>
          
        </div>
    </div>

    
</div>
