<div class="container">
    <h1>Auction Title</h1>
    <dl class="row">
        <dt class="col-sm-4">Username:</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Email:</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Alias:</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Shipping Address:</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Funds</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Payment ID:</dt>
        <dd class="col-sm-8"></dd>

        <dt class="col-sm-4">Account Active:</dt>
        <dd class="col-sm-8"></dd>
    </dl>

    <div class="button-container">
        <button type="button" class="btn btn-light">Place/Update Bid</button>
        <button type="button"  class="btn btn-light" routerLink="/default-user/{username}/view-auctions">Back to Auction Menu</button>
        <button type="button"  class="btn btn-light" routerLink="/default-user">Back to Main Menu</button>
    </div>
</div>
