form{
    height: 80%;
    width: 80%;
    background-color: rgba(255,255,255,0.10);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
input {
    font-size: 1.1vw;
    font-family: 'Blippo';
}
input[type="text"], textarea {
    width: 30%;
    background-color : #d1d1d1; 
  }

.form-block {
    text-align: center;
    margin: auto;
}

.form-control {
    text-align: center;
    margin: auto;
}

.button-container {
    padding-top: 2%;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Blippo';
    margin: auto;
}

label {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.1vw;
    font-family: 'Blippo';
    margin: auto;
}

.update-button, button {
    width: 17%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-family: 'Blippo';
    font-size: 1.2vw;
    margin-bottom: 1%;
    border: black;
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
}

.update-button:hover, button:hover {
    color: white;
    background-color: rgb(130, 130, 130);
}