.admin-menu {
    height: 520px;
    width: 550px;
    background-color: rgba(255,255,255,0.10);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.button-container {
    padding: 10%;
    text-align: center;
}

.button-container button:not(:last-child) {
    border-bottom: none;
}

.img-container {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Blippo';
    color: white;
}

button {
    width: 50%;
    display: block;
    font-family: 'Blippo';
    margin: auto;
    border: black;
}

button:hover {
    background-color: rgb(130, 130, 130);
}

