

<div class="container">
    <form (ngSubmit)="processForm(updateuserFundsForm)" #updateuserFundsForm="ngForm">
      <h1>{{user.codename}}'s Funds</h1>
      <div class="img-container">
        <img src="https://cdn.discordapp.com/attachments/975764660311711806/988898713575493662/mcd.png">
      </div>
      <div class="form-block">
        <label for="update-funds">Funds: </label>
        <input class="form-control" [(ngModel)]="user.funds" type="text" id="update-funds" name="update-funds" [placeholder]="placeholders.funds" #name="ngModel" required>
      </div>
      <div class="form-group">
        <div *ngIf="displayFormSubmitError" style="color: red">
            Invalid fund submission.
        </div>
        <input type="submit" value="Update" class="update-button">
        <div class="button-container">
          <button type="button"  class="nav-button" routerLink="/default-user">Back to Main Menu</button>
        </div>
    </div>
  
    </form>
  </div>

